@page
@model VeterinarianApp.Pages.Admin.ManageVeterinariansModel
@{
}

<div class="panel rounded shadow custom-width">
    <div class="text-center heading-color mb-4">
        <h2>Manage Veterinarians</h2>
    </div>
    <div class="card-header d-flex justify-content-between align-items-center bg-transparent border-0 mt-3">
        <div class="row w-100">
            <div class="col-md-6">
      
            </div>
            <div class="col-md-6 pe-0">
                <div class="d-flex justify-content-end gap-2">
                    <a class="btn btn-success-custom" href="/Admin/AddEditVeterinarian">
                        <img src="/images/ManageVeterinarians/User_fill_add.svg"
                             alt="" />
                        Add Veterinarian
                    </a>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-success-custom" id="launchModal">
                        <img src="/images/ManageVeterinarians/mail-02.svg"
                             alt="" />
                        Invite Veterinarian
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <div class="table-responsive ">
            <table class="table VetsTable">
                @foreach (var veterinarian in Model.Veterinarians)
                {
                    <tr class="VetProfileRow">
                        <td class="ps-0" style="">
         
                                <img id="profile-image" src="@Url.Content(veterinarian.ProfilePhoto)"
                                     class="profile-image rounded-circle"
                                     alt="Vet Image"
                                    />

                        </td>
                        <td class="Veterinarian-Detail">
                            <span class="highlight-text">Name: </span>@veterinarian.FirstName @veterinarian.LastName
                        </td>
                        <td class="Veterinarian-Detail">
                            <span class="highlight-text">ID: </span>@veterinarian.Id
                        </td>
                        <td class="Veterinarian-Detail">
                            <span class="highlight-text">Status: </span>@veterinarian.ApprovedBy
                        </td>
                        <td class="Veterinarian-Detail">
                            <span class="highlight-text">Email: </span>@veterinarian.Email
                        </td>
                        <td class="Veterinarian-Detail">
                            <span class="highlight-text">Phone: </span>@veterinarian.Phone
                        </td>
                        <td class=""
                            >
                            <a class="btn btn-Modify" asp-page="./AddEditVeterinarian" asp-route-id="@veterinarian.Id">
                                <img src="/images/ManageVeterinarians/User_fill_edit.svg"
                                     alt="" />
                                Modify
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="card-footer bg-transparent border-0 py-4">
        <div class="d-flex justify-content-center pe-1 align-items-center">
            <button class="btn btn-view  me-2">
                <img src="/images/ManageVeterinarians/Arrow_left_long.svg"
                     alt="" />
            </button>
            <span class="mx-2">Page 1 out of 6</span>
            <button class="btn btn-view ">
                <img src="/images/ManageVeterinarians/Arrow_right_long.svg"
                     alt="" />
            </button>
        </div>
    </div>
</div>
<input type="hidden" name="__RequestVerificationToken" value="@Html.AntiForgeryToken()" />


<!-- Modal -->
<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Invite Veterenarian</h5>
            </div>
            <div class="modal-body">
                <div class="form-group mb-3">
                    <label for="vetEmail" class="input-label-style">Email</label>
                    <input type="email" id="vetEmail" class="form-control custom-form-control" />
                </div>
                <div id="errorMessage" style="color:red; display:none;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="closeModal">Close</button>
                <button type="button" id="sendEmail" class="btn btn-primary">Send</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
                     < script src = "https://code.jquery.com/jquery-3.6.0.min.js" ></script>
    <script>
        $(document).ready(function () {
            $('#launchModal').click(function () {
                $('#emailModal').modal('show'); // Show the modal
            });
            $('#emailModal').on('hidden.bs.modal', function () {
                $('#vetEmail').val(''); // Clear the email input
                $('#errorMessage').hide(); // Hide the error message
            });
        });
        // Hide modal when close button is clicked
        $('#closeModal').click(function () {
            $('#emailModal').modal('hide'); // Hide the modal
        });

        $('#sendEmail').click(async function () {
            const email = $('#vetEmail').val();
            const errorMessageDiv = $('#errorMessage');
            errorMessageDiv.hide(); // Reset error message

            try {
                const token = $('input[name="__RequestVerificationToken"]').val();
                const response = await fetch('/Admin/ManageVeterinarians?handler=SendEmail', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'RequestVerificationToken': token
                    },
                    body: JSON.stringify({ Email: email })
                });

                if (response.ok) {
                    alert('Email sent successfully!');
                    $('#emailModal').modal('hide'); // Close modal
                } else {
                    const errorText = await response.text();
                    errorMessageDiv.text(errorText); // Set error message
                    errorMessageDiv.show(); // Show error message
                }
            } catch (error) {
                errorMessageDiv.text('An unexpected error occurred.'); // Handle unexpected errors
                errorMessageDiv.show(); // Show error message
            }
        });
    </script>
}